<h1>Books</h1>

<% @book.each do |book| %>

<p>Title</p>
<span><%= book.title %></span>

<p>body</p>
<span><%= book.body %></span>

<%= link_to 'Show', book_path(book.id) %>
<%= link_to 'Edit', '/' %>
<%= link_to 'Destroy', '/' %>

<% end %>

