<h1>Books</h1>

<% @book.each do |book| %>

<p>Title</p>
<span><%= book.title %></span>

<p>body</p>
<span><%= book.body %></span>

<%= link_to 'show', book_path(book.id) %>
<%= link_to 'Edit', "/books/edit" %>
<%= link_to 'Destroy', "/books/destroy" %>

<% end %>

